{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-vendor-prefix": true,
    "media-feature-name-no-vendor-prefix": true,
    "property-no-vendor-prefix": true,
    "selector-no-vendor-prefix": true,
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": ["mixin", "include"]
    }
    ],
    "value-no-vendor-prefix": true,
    "no-eol-whitespace": null,
    "max-nesting-depth": [3],
    "order/order": [
      "dollar-variables",
      "declarations",
      "at-rules",
      "at-variables"
    ],
    "order/properties-order": [
      "display",
      "visibility",
      "grid-template-columns",
      "grid-template-rows",
      "grid-column-gap",
      "grid-row-gap",
      "flex-wrap",
      "flex-direction",
      "align-items",
      "align-content",
      "justify-items",
      "justify-content",
      "flex",
      "align-self",
      "justify-self",
      "position",
      "top",
      "bottom",
      "left",
      "right",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "margin",
      "margin-top",
      "margin-bottom",
      "margin-left",
      "margin-right",
      "padding",
      "padding-top",
      "padding-bottom",
      "padding-left",
      "padding-right",
      "float",
      "text-align",
      "text-transform",
      "text-decoration",
      "color",
      "font-family",
      "font-size",
      "font-weight",
      "background",
      "background-size",
      "background-cover",
      "background-color",
      "border",
      "border-top",
      "border-bottom",
      "border-left",
      "border-right",
      "border-radius",
      "box-shadow",
      "outline",
      "cursor",
      "transform",
      "transition",
      "animation"
    ]
  }
}
